body {
	background-color: #14151a;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#login-box {
	background-color: #1f2128;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	width: 300px;
	text-align: center;
}

h2 {
	color: #ffffff;
	margin-bottom: 30px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: #272931;
	color: #ffffff;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
	box-shadow: 0 0 5px #61dafb;
}

button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #61dafb;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #4fa8db;
}