@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body {
    font-family: 'Jost', sans-serif;
    background-color: #f0f5ff;
    transition: background-color 0.5s;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.dark-mode {
    background-color: #121212;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: #333333;
    box-shadow: 0 0 10px rgba(240, 238, 238, 0.1);
    border-radius: 10px;
}

.container.dark-mode {
    background-color: #1a1a1a; /* Cambia il colore di sfondo del container in modalità scura */
}

h1 {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 20px;
}

h1.dark-mode {
    color: #ffffff; /* Cambia il colore del testo dell'h1 in modalità scura */
}

#username::after {
    content: "|";
    animation: blink-caret 0.75s step-end infinite;
    margin-left: 5px;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ffffff; }
}

p {
    font-size: 1.2em;
    color: #cccccc;
    margin-bottom: 20px;
}

p.dark-mode {
    color: #999999; /* Cambia il colore del testo del paragrafo in modalità scura */
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s; 
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #61dafb; 
}