body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

pre {
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}